<!doctype html>
<title>Hello from Flask</title>

<b>Goal</b>: Provide an input to this page that makes an alert box
pop up.

<p><b>Not sure how to provide input to this page?</b></br>
    See the server-side controller
    code at <code>routes/xss.py</code>. Make sure to read the comments at the beginning
    of the file, they provide some useful info for understanding the code.</p>

</br>
</br>

{% if name %}
<h1>Hello {{ name|safe }}!</h1>
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello World!</h1>
{% endif %}

<a href="/xss/">Back</a>
