<h1>Web App Security by Example</h1>

Here are some things to play with. View the source of hello_flask.py for details.

</br></br>
<em>Note:</em> Some things I'll provide a fair amount of detail for, but
I'm not writing an extensive amount. Why? Because you have all
you need: the source code and a running instance of the web app ;)

<hr>

<h2>Exercises</h2>

<h3>Round 1 - Cross-site Scripting (XSS)</h3>

Click <a href="{{ url_for('xss_index') }}">here</a> for several
minimal XSS example exercises.

<h3>Round 2 - Client-side Security</h3>

Click <a href="{{ url_for('client_side_index') }}">here</a> for several
client-side security exercises.

<h3>Round 3 - Misc OWASP</h3>

Click <a href="{{ url_for('owasp_index') }}">here</a> for several
exercises on other OWASP vulnerabilities.
