<!doctype html>
<title>Login One</title>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }} </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<h1>Login One</h1>

<b>Goal</b>: login to this app, assume no knowledge of the server-side code (blackbox).

</br>
</br>

<form action="/client_side/login_one_verify" method="POST">
Username: <input id="username" type="text" name="username">
Password: <input id="password" type="text" name="password">
<input type="Submit" value="Guess Password">
</form>

</br>

<!--
Phew, it's been tough coding up this page.

Can't quite get the login to work right yet but should
be done in the next iteration.
For now, test with admin/SuperSecureP4ssw0rd
-->

</html>
