<h1>Client-side Security</h1>

<p>Each of the following exercises is designed to demonstrate
one aspect of client-side security, that is, relating to
what's executed in or sent by your browser.</p>

<p>Unless otherwise noted, you <b>should not</b> need to view
the server's source code to solve these challenges. Instead,
view the HTML source in your browser and review traffic in Burp.
</p>

<h2>Exercises</h2>

<ol>
  <li><a href="{{ url_for('routes.client_side_login_one') }}">login #1</a></li>
  <li><a href="{{ url_for('routes.client_side_login_two') }}">login #2</a></li>
  <li><a href="{{ url_for('routes.client_side_login_three') }}">login #3</a></li>
  <li><a href="{{ url_for('routes.client_side_login_four') }}">login #4</a></li>
</ol>

