<h1>Hey!</h1>

Here are some things to play with. View the source of hello_flask.py for details.

</br></br>
<em>Note:</em> I'm purposefully not giving you a lot of detail for these, because you have all you need: the source code and a running instance of the web app ;)

<h2>Round 1</h1>

<ol>
  <li><a href="/hello_html">hello html</a></li>
  <li><a href="/hello_html_attr">hello html attr</a></li>
  <li><a href="/hello_js">hello js</a></li>
</ol>

<hr>

<h2>Round 2</h2>
After we discuss those, here are moar:

<ol>
  <li><a href="/exfil">exfil</a></li>
  <li><a href="/validate_email">validate email</a></li>
<!--  <li><a href="/hello_dropdown">hello dropdown</a></li> -->
</ol>
