<h1>Other OWASP Challenges</h1>

These challenges demonstrate various types of vulnerabilities from
the <a href="https://www.owasp.org/index.php/Top_10_2013-Top_10">OWASP Top 10</a>.

<h2>Exercises</h2>

<ol>
  <li><a href="{{ url_for('routes.owasp_path_traversal') }}">path traversal</a></li>
  <li><a href="{{ url_for('routes.owasp_command_injection') }}">command injection</a></li>
  <li><a href="{{ url_for('routes.owasp_csrf_one') }}">csrf one</a></li>
  <li><a href="{{ url_for('routes.owasp_csrf_two') }}">csrf two</a></li>
<!--
  <li><a href="{{ url_for('routes.owasp_csrf_three') }}">csrf three</a></li>
  <li><a href="{{ url_for('routes.owasp_csrf_four') }}">csrf four</a></li>
  <li><a href="{{ url_for('routes.owasp_csrf_five') }}">csrf five</a></li>
-->
<!--  <li><a href="{{ url_for('routes.owasp_sqli') }}">sqli</a></li> -->
</ol>
